/* 
.btn-custom
{
    background-color: rgba(102, 173, 173, 0.726);
    color:black;
    font-weight:normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 2cm;
  
}

.btn-custom:hover,.btn-custom:active
{
    background-color:  rgba(102, 173, 173, 0.726);

}
.btn-custom a{
    color:black;
    text-decoration: none;
}
.form-custom
{
    margin:0cm 5cm -1cm 5cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
}
.entire
{
    position: relative;
    top:0cm;bottom: 0;left: 0;right: 0cm;
    background-color: white;
} */
table
{
    width: 60%;
}
.FormTitle
{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.entire
{
    position:absolute;
    top:0;bottom:-1;left:0;right:0;
    background-color: white;
}
.FormTable, .FormTable tr td
{
    margin:auto;
}
.FormTable
{
border-spacing: 0px 0.4cm;
}
.alert-danger
{   text-align: center;
    font-size: small;
}
.redbox
{
    border: 2px solid red;
}
tr
{
    height: 0.5cm;
}

.btn
{
    border-radius: 5px;
    height: 1cm;
    padding: 0;
    padding-left: 15px;padding-right: 15px;
}