BackupWebConfig.txt
Backend/WebAPI/.vs/WebAPI/v16/.suo
Backend/WebAPI/WebAPI/obj/Debug/WebAPI.csprojAssemblyReference.cache
Backend/WebAPI/WebAPI/bin/WebAPI.dll
Backend/WebAPI/WebAPI/bin/WebAPI.pdb
Backend/WebAPI/WebAPI/obj/Debug/WebAPI.dll
Backend/WebAPI/WebAPI/obj/Debug/WebAPI.pdb