<div class="entire">
    <div class="FormTitle" 
    style="background-image: linear-gradient(to right,rgba(0, 0, 255, 0.452),rgba(0, 128, 0, 0.5));">
    Trader Portal
    </div>
    <br>
    <div class="List">
        <div class="block" (click)="GoBuy()">
            <h3>Buy The Crops</h3>
        </div>
        <div class="block" (click)="GoReport()">
            <h3>View Sold Bought History</h3>
        </div>
        <div class="block" (click)="GoMarket()">
            <h3>View Market</h3>
        </div>
        <div class="block" (click)="GoHome()">
            <h3>Go Back To Home</h3>
        </div>
    </div>
    
</div>