.FormTitle
{
    font-size: 0.8cm;
    font-weight:normal;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-shadow: 1px 1px green;
}


.List
{
    width: 50%;
    height: 80%;
    border-radius: 1cm;
    margin: auto;

}

.block
{
width: 100%;
height: 25%;
border-radius: 2cm;
background-image: linear-gradient(to right,yellow,lavender);
text-align: center;
padding: 50px;
}
.tab
{
    width: 25%;
    
}
.block:nth-child(2n+1)
{
    background-image: linear-gradient(to left,yellow,lavender);
}
.block:hover
{
    background-image: linear-gradient(to right,rgba(0, 128, 0, 0.575),yellow);
    color: white;
    zoom: 1.1;
    font-family: cursive;
}

table
{
    width: 90%;
}
.table-dark th
{
    background-color: black;
}
.entire
{
    position:absolute;
    top:0;bottom:0;left:0;right:0;
    background-image: linear-gradient(ghostwhite,greenyellow);
}
