.entire
{
    position:absolute;
    bottom: 0;top: 0;left: 0;right: 0;
    background-color: rgb(255, 228, 196);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

label
{
    color: black;
    font-size: larger;
    text-shadow: 1px 1px white;
}
table
{
    width: 60%;
}
.table-dark th
{
    background-color: rgba(0, 0, 0, 0.699);
}
.FormTitle
{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.FormTable, .FormTable tr td
{
    margin:auto;
}
.FormTable
{
border-spacing: 0px 0.4cm;
}
.alert-danger
{   text-align: center;
    font-size: small;
}
.redbox
{
    border: 2px solid red;
}
tr
{
    height: 0.5cm;
}
input
{
    width: min-content;
}

input[type='text']
{
    text-align: center;
    font-size: Plarge;
    font-weight: bold;
    border:2px solid brown;
}
.btn
{
    border-radius: 5px;
    height: 1cm;
    padding: 0;
    padding-left: 15px;padding-right: 15px;
}

