<div class="entire">
    <form #f="ngForm" (ngSubmit)="submit()" class="form-custom">
        <div class="form-group">
            <label for="Season">Season</label>
            <input  required type="text" class="form-control" ngModel name="Season" id="Season"   #Season="ngModel" >
           <span *ngIf="Season.touched && Season.error.required">Season Required</span>
        </div>
        <div class="form-group">
            <label for="Year">Year</label>
            <input type="text" name="Year" id="Year" ngModel #Year="ngModel" class="form-control">
        </div>
        <div class="form-group">
            <label for="Crop">Crop</label>
            <input type="text" name="Crop" id="Crop" ngModel #Crop="ngModel" class="form-control">
        </div>
        <div class="form-group">
            <label for="SumInsured">Sum Insured</label>
            <input type="text" name="SumInsured" id="SumInsured" ngModel #SumInsured="ngModel" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="Area">Area</label>
            <input type="text" name="Area" id="Area" ngModel #Area="ngModel" class="form-control">
        </div>
       
        <div class="form-group">
            <button class="btn-custom" ><a routerLink="">Submit</a></button>
            
    
        </div>
       
    </form>
    </div>
    
