<nav-bar></nav-bar>
<br>
<br><br>
<p>
    The Pradhan Mantri Fasal Bima Yojana (PMFBY) launched on 18 February 2016 by 
    Prime Minister Narendra Modi is an insurance service for farmers for their yields.
     It was formulated in line with One Nation–One Scheme theme by replacing earlier two schemes National Agricultural Insurance Scheme (NAIS) and Modified National Agricultural Insurance Scheme (MNAIS) by incorporating their best features and removing their inherent drawbacks (shortcomings). It aims to reduce the premium burden on farmers 
     <!-- and ensure early settlement of crop assurance claim for the full insured sum. -->
PMFBY aims to provide a comprehensive insurance cover against failure
 of the crop thus helping in stabilising the income of the farmers. 
 The Scheme covers all Food & Oilseeds crops and Annual Commercial/Horticultural
  Crops for which past yield data is available and for which requisite number of 
  Crop Cutting Experiments (CCEs) are being conducted under General Crop Estimation 
  Survey (GCES). The scheme is implemented by empanelled general insurance companies.
   Selection of Implementing Agency (IA) is done by the concerned State Government through 
   bidding. The scheme is compulsory for loanee farmers availing Crop Loan /KCC account for notified crops 
   and voluntary for other others.
 The scheme is being administered by Ministry of Agriculture.
</p>
<p class="alert alert-danger">This is just an attempt to create such a website, Not the actual one</p>
