<div class="entire">
    <div class="FormTitle" style="background: thistle;">
     Bidder Page
    </div>
    <br>
    <br>
    <table class="table" style="text-align: center;margin-left: 6cm;">
        <thead class="table thead-dark">
            <tr>
                <th>Crop Type</th>
                <th>Crop Name</th>
                <th>Base Price</th>
                <th>Current Bid</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
            </tr>
            <tr>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
            </tr>
            <tr>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
            </tr>
            <tr>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
            </tr>
            <tr>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
            </tr>
            <tr>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
            </tr>
            <tr>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
                <td style="color: ghostwhite; border: 1px solid black;"></td>
            </tr>
            
        </tbody>
    </table>
    <br>
    <br>
    <form #bidderform="ngForm" onsubmit="alert('Your responses are recorded');">
       <table class="Form Table">
          <tr>
           <td><label style="font-weight: bolder;font-size: medium;margin-left: 10cm;"for="bidamount">Bid Amount</label></td>
           <td><input ngModel type="text" id="bidamount" class="form-control" autofocus autocomplete="username"
                 required 
                 ngModel name="bidamount" #bidamount="ngModel"
                 [class.redbox]="bidamount.dirty && bidamount.invalid"></td>
          </tr>
           <tr> <td><span class="alert alert-danger" [hidden]="bidamount.pristine + bidamount.valid">
            Bid amount is required
           </span></td></tr>
                 <br>
                 
                 <div>
                 <button style="margin-left: 10cm; height:auto; width:auto;" type="submit" class="btn btn-success" [disabled]="!bidderform.form.valid">Confirm</button>
                 </div>
                
        </table>
  </form>
</div>