
<div class="title_card">
    <table  style="width: 100%;">
    <tr>
        <td style="width: 10%;">
            <img class="yojana_logo" src="../assets/yojana_logo.svg" width="85px" height="85px" >
        </td>
        <td style="width: 90%;">
        <h1>
            Fasal Bima Yojana
        </h1>
        <h5>
            Agriculture and Farmers Welfare Portal
        </h5>
        </td>
    </tr>
    </table>
    </div>
    
    <div>
        <nav>
            <ul>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 80%;">
                        <li [class.nav-tabs]="flag" [class.nav-link]="flag" (mouseover)="somefn()" (mouseout)="somefn()">
                            <a [routerLink]="['/Home']">Home</a>
                        </li>
                        <li [class.nav-tabs]="flag" [class.nav-link]="flag" (mouseover)="somefn()" (mouseout)="somefn()">
                            <a [routerLink]="['/About']">About</a>
                        </li>
                        <li [class.nav-tabs]="flag" [class.nav-link]="flag" (mouseover)="somefn()" (mouseout)="somefn()">
                            <a (click)="ToTrade()">Trade</a>
                        </li>
                        
                    </td >
                    <td style="width: 20%;" [hidden]="checkLogin">
                        <li><button type="button" 
                            class="btn-custom" 
                            (click)="GoLogin()" 
                            [hidden]="checkLogin">Login</button></li>
                        <li>
                            <select name="Register" class="btn-custom btn-dropdown" [hidden]="checkLogin" 
                                (change)="reg($event.target.value)">
                                <option selected disabled hidden>Register</option>
                                <option value="FarmerRegistration">Farmer Registration</option>
                                <option value="TraderRegistration" >Trader Registration</option>
                            </select>
                        </li>
                    </td>
                    <td>
                        <li><button [hidden]="!checkLogin" class="btn-custom" (click)="Logout()">Logout</button></li>
                        <li><button [hidden]="!checkLogin || (checkType==='A' || '' )" class="btn-custom"
                            (click)="GoProfile()" >Profile</button></li>
                        <li><button [hidden]="!checkLogin || !(checkType==='A' || '')" class="btn-custom"
                            (click)="GoAdmin()" >Requests</button></li>
                    </td>
                </tr>
            </table>
            
            </ul>
            </nav>
            
            
    </div>
