<div class="container">
    <div [hidden]="submitted">
        <p style="text-align: center; font-size:xx-large; font-weight: bold; color: black;">Crop Sold History</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <table class="table" style="text-align: center;">
        <thead class="table thead-dark">
            <tr>
                <th>Date</th>
                <th>Crop Name</th>
                <th>Quantity</th>
                <th>MSP</th>
                <th>Sold Price</th>
                <th>Total Price</th>
            </tr>
            
        </thead>
    
        <tbody style="border: black;">
            <tr>
                <td style="color: ghostwhite; border: 1px solid black;">12-02-2000</td>
                <td style="color: ghostwhite; border: 1px solid black;">Rice</td>
                <td style="color: ghostwhite; border: 1px solid black;">200</td>
                <td style="color: ghostwhite; border: 1px solid black;">12000</td>
                <td style="color: ghostwhite; border: 1px solid black;">10000</td>
                <td style="color: ghostwhite; border: 1px solid black;">10000</td>
            </tr>
            <tr>
                <td style="color: ghostwhite; border: 1px solid black;">10-06-2000</td>
                <td style="color: ghostwhite; border: 1px solid black;">Wheat</td>
                <td style="color: ghostwhite; border: 1px solid black;">150</td>
                <td style="color: ghostwhite; border: 1px solid black;">15000</td>
                <td style="color: ghostwhite; border: 1px solid black;">13000</td>
                <td style="color: ghostwhite; border: 1px solid black;">13000</td>  
            </tr>
        </tbody>
    </table>
</div>
