<div class="title_card">
<table  style="width: 100%;">
<tr>
    <td style="width: 10%;">
        <img class="yojana_logo" src="../assets/yojana_logo.svg" width="85px" height="85px" >
    </td>
    <td style="width: 90%;">
    <h1>
        Fasal Bima Yojana
    </h1>
    <h5>
        Agriculture and Farmers Welfare Portal
    </h5>
    </td>
</tr>
</table>
</div>

<div>
    <nav>
        <ul>
        <table style="width: 100%;">
            <tr>
                <td style="width: 80%;">
                    <li [class.nav-tabs]="flag" [class.nav-link]="flag" (mouseover)="somefn()" (mouseout)="somefn()">
                        <a href="#">Home</a>
                    </li>
                    <li [class.nav-tabs]="flag" [class.nav-link]="flag" (mouseover)="somefn()" (mouseout)="somefn()">
                        <a href="#">About</a>
                    </li>
                    <li [class.nav-tabs]="flag" [class.nav-link]="flag" (mouseover)="somefn()" (mouseout)="somefn()">
                        <a href="#">Trade</a>
                    </li>
                    <li [class.nav-tabs]="flag" [class.nav-link]="flag" (mouseover)="somefn()" (mouseout)="somefn()">
                        <a href="#">Related Links</a>
                    </li>
                </td >
                <td style="width: 20%;">
                    <li><button type="button" class="btn-custom"  >Login</button></li>
                    <li><button type="button" class="btn-custom">Register</button></li>
                </td>
            </tr>
        </table>
        
        </ul>
        </nav>
        
        
</div>

<div>
    <br>
  <table style="width: 80%; margin: auto;">
      <tr>
          <td style="width: 25%;">
        <div class="container" (mouseover)="image1toggle()" (mouseout)="image1toggle()">
            <img [class.bg-img]="image1" src="../assets/farmer2.jpg" width="250px" height="300px" />
            <p class="centered" [hidden]="!image1" >Farmers Corner</p>
            <p class="short" [hidden]="image1">To apply for insurance</p>
            <p>Farmer Corner</p>

        </div>
        </td>
          <td style="width: 25%;">
            <div class="container" (mouseover)="image2toggle()" (mouseout)="image2toggle()">
                <img [class.bg-img]="image2" src="../assets/rupee_bg.jpg" width="250px" height="300px" />
                <p class="centered" [hidden]="!image2">Insurance Calculator</p>
                <p class="short" [hidden]="image2">To calculate insurance</p>
                <p>Calculate</p>
            </div>        
        </td>
          <td style="width: 25%;">
            <div class="container" (mouseover)="image3toggle()" (mouseout)="image3toggle()">
                <img [class.bg-img]="image3" src="../assets/sad_crop.jpg" width="250px" height="300px" />
                <p class="centered" [hidden]="!image3">Report Crop Loss</p>
                <p class="short" [hidden]="image3">To claim the insurance</p>
                <p>Crop loss report</p>
            </div>
        </td>
          <td style="width: 25%;">
            <div class="container" (mouseover)="image4toggle()" (mouseout)="image4toggle()">
                <img [class.bg-img]="image4" src="../assets/tesseract_ocr.png" width="250px" height="300px" />
                <p class="centered" [hidden]="!image4">Application Status</p>
                <p class="short" [hidden]="image4">To know application status</p>
                <p>Application Status</p>
            </div>
        </td>
      </tr>
  </table>

</div>
<footer>Copyright Teams 16 2020</footer>